{% extends "../base.html" %}
{% load static %}

{% block title %}Product Details{% endblock title %}

{% block content %}
    <!-- Product Page Section Beign -->
    <section class="product-page">
        <div class="container">
            {% comment %} <div class="product-control">
                <a href="#">Previous</a>
                <a href="#">Next</a>
            </div> {% endcomment %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slider owl-carousel">
                        <div Style="height:80%;" class="product-img">
                            <figure>
                                <img Style="height:300px;" src="{{product.thumbnail}}" alt="">
                            </figure>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <div class="product-content">
                        <h2>{{product.title}}</h2>
                        <div class="pc-meta">
                            <h5>{{product.price}}</h5>
                            <div class="rating">
                                {% if product.in_stock %}
                                <div class="p-status">
                                    In Stock
                                </div>
                                {%else%}
                                <div class="p-status">
                                    Out of Stock
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <p>{{product.description}}</p>
                        <ul class="tags">
                            <li><span>Category :</span> {{product.category.title}}</li>
                            <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                        </ul>
                        {% if product.in_stock %}
                        <div class="product-quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                        <a href="#" class="primary-btn pc-btn">Add to cart</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Page Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for related_product in related %}
                <div class="col-lg-3 col-sm-6">
                    <div class="single-product-item">
                        <figure>
                            <a href="{% url 'product' related_product.slug %}"><img Style="height:180px;"  src="{{ related_product.thumbnail }}" alt=""></a>
                            {% comment %} <div class="p-status">new</div> {% endcomment %}
                        </figure>
                        <div class="product-text">
                            <a href="{% url 'product' related_product.slug %}">
                                <h6>{{related_product.title}}</h6>
                            </a>
                            <p>{{related_product.price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
{% endblock content %}