{% extends "base.html" %}
{% load static %}
{% block title %}
{{category.title|title}}Product Search{% endblock title %}

{% block content %}
    <!-- Page Add Section Begin -->
    {% if products.count > 0 %}

    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>{{products.count}} Results Found for {{key}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Page Add Section End -->

    <!-- Categories Page Section Begin -->
    <section class="categories-page spad">
        <div class="container">
            {% if products.count > 0 %}
            <div class="row">
                {% for product in products %}
                <div class="col-lg-6 col-md-6">
                    <div class="single-product-item">
                        <a href="{% url 'product' product.slug %}">
                            <figure>
                                <img style="height:300px;" src="{{product.thumbnail}}" alt="">
                            </figure>
                        </a>
                        <div class="product-text">
                            <a href="{% url 'product' product.slug %}">
                                <h6>{{product.title|title}}</h6>
                            </a>
                            <p>${{product.price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            {% include 'product/no-result.html' %}
            {% endif %}
        </div>
    </section>
    <!-- Categories Page Section End -->
{% endblock content %}