{% load static %}

<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
            </div>
            <div class="header-right">
                <img src="{% static 'img/icons/search.png' %}" alt="" class="search-trigger">
                {% comment %} <img src="{% static 'img/icons/man.png' %}" alt=""> {% endcomment %}
                <a href="#">
                    <img src="{% static 'img/icons/bag.png' %}" alt="">
                    <span>2</span>
                </a>
            </div>
            <div class="user-access">
                <a href="#">Register</a>
                <a href="#" class="in">Sign in</a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a class="" href="{% url 'home' %}">Home</a></li>
                    <li><a class="" href="#">Products</a></li>
                    <li><a href="#">Categories</a>
                        <ul class="sub-menu">
                            {% for category in categories %}
                            <li><a href="{% url 'category' category.slug %}">{{ category.title|title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>